<div class="content">
  <div class="vertical_spacer"/>
  <h3>A few selected pencil sketches.</h3>
  <img src="images/sketch1_small.jpg" class="sketch-button"/>
  <img src="images/sketch8_small.jpg" class="sketch-button" />
  <div class="vertical_spacer"/>
  <img src="images/sketch3_small.jpg" class="sketch-button" />
  <img src="images/sketch4_small.jpg" class="sketch-button" />
  <div class="vertical_spacer"/>
  <img src="images/sketch5_small.jpg" class="sketch-button" />
  <img src="images/sketch6_small.jpg" class="sketch-button" />
  <div class="vertical_spacer"/>
  <img src="images/sketch7_small.jpg" class="sketch-button" />
  <img src="images/sketch2_small.jpg" class="sketch-button" />
</div>
