<div class="content">
  <div class="vertical_spacer"/>

  <div class="intro">
    <h4>Ruja Shrestha</h4>
    <div class="content">
      Berkeley, CA<br/>
      email: contact&nbsp;<em>at</em>&nbsp;rujashrestha&nbsp;<em>dot</em>&nbsp;info.<br/>
      website: <a href="http://rujashrestha.info">http://rujashrestha.info</a>
    </div>
  </div>

  <!-- Education -->
  <div class="section">
    <div class="section_title">Education</div>
    <div class="subsection">
      <div class="subsection_title">
        PhD, Organic Chemistry, May 2012, <a href="http://www.rochester.edu/">University of Rochester</a>, Rochester, NY
      </div>
    </div>
    <div class="subsection">
      <div class="subsection_title">
        BS with honors, major in Chemistry, minor in Math, May 2007, <a href="http://www.lakeforest.edu/">Lake Forest College</a>, Lake Forest, IL
      </div>
    </div>
  </div>

  <!-- Research Experience -->
  <div class="section">
    <div class="section_title">Research Experience</div>
    <div class="subsection">
      <div class="subsection_title">
        2012 to Current; Postdoctoral Work<br/>
        <a href="http://www.berkeley.edu/index.html">University of California, Berkeley</a>, CA with Professor <a href="http://www.cchem.berkeley.edu/jfhgrp/members_hartwig.html">John F. Hartwig</a>
      </div>
      <div class="content">
        <ul>
          <li>Investigating ruthenium- and palladium-catalyzed oxidative olefination of aromatic carbon-hydrogen bonds for steric-driven regioselective synthesis of styrene and divinylbenzene derivatives.</li>
          <li>Explored palladium-catalyzed oxidative amination reaction for direct functionalization of aromatic carbon-hydrogen bonds to form protected aniline products with regioselectivities guided by steric effects over electronic effects. The project involved thoroughly examining multiple reaction variables using high-throughput experimentation and implementing a strategy to overcome the problem of incomplete conversion of substrates. The study led to the development of the first method for amination of <em>mono-</em>, <em>di-</em>, and <em>tri-</em>substituted arenes with good yields and excellent regioselectivities from steric effects.</li>
        </ul>
      </div>
    </div>

    <div class="subsection">
      <div class="subsection_title">
        2008 to 2012; Graduate Work</br>
        <a href="http://www.rochester.edu/">University of Rochester</a>, Rochester, NY with Professor <a href="http://www.chem.rochester.edu/faculty/faculty.php?name=weix">Daniel J. Weix</a>
      </div>
      <div class="content">
        <ul>
          <li>Discovered nickel-catalyzed reductive conjugate addition of primary, secondary and tertiary haloalkanes and functionalized haloarenes to <em>α</em>,<em>β</em>-unsaturated ketones, aldehydes and esters. The discovery provides an alternative, easy-to-perform strategy for the formation of synthetically
            useful silyl enol ethers.</li>
          <li>Conducted stoichiometric studies on nickel-catalyzed reductive conjugate addition of haloalkanes to <em>α</em>,<em>β</em>-unsaturated ketones. The study involved the synthesis of (pyridine)Ni(<em>η</em><sup>3</sup>-1-triethylsilyloxyalkenyl)Cl complex and allowed us to eliminate three of the four potential mechanisms.</li>
          <li>
            Initiated nickel-catalyzed reductive coupling reactions for carbon-carbon bond formation: 1) cross-coupling of haloalkanes with haloarenes for the synthesis of alkylated aromatics, 2) intramolecular coupling of haloalkanes with haloarenes for the formation of 5- and 6-membered rings, 3) allylation of aldehydes and ketones, 4) <em>α</em>-arylation and alkylation of <em>α</em>-haloketones. These studies demonstrated the feasibility of reductive coupling reactions.</li>
          <li>Conducted stoichiometric studies on nickel-catalyzed reductive cross-coupling reactions of haloalkanes with haloarenes and studied individual effects of ligands used in the reaction. These studies improved our mechanistic understanding of reactions listed above.</li>
          <li>Examined reductive elimination of heteroatoms (<em>S-O</em> and <em>S-N</em>)from transition metals and performed optimization experiments screening reaction parameters including ligands, temperature and solvents. The investigation led to a radical-mediated stoichiometric copper reaction for the formation of sulfonate esters under mild reaction conditions.</li>
          <li>Synthesized palladium-sulfinate complexes with bidentate phosphine ligands [(<em>P</em>,<em>P</em>)Pd(SO<sub>2</sub><em>p</em>-tol)Cl] and conducted NMR studies of their <em>sulfinyl-O</em> and <em>sulfinyl-N</em> reductive elimination upon addition of alkoxides and amides respectively.</li>
        </ul>
      </div>
    </div>

    <div class="subsection">
      <div class="subsection_title">
        2006-2007; Undergraduate Work<br/>
        <a href="http://www.lakeforest.edu/">Lake Forest College</a>, Lake Forest, IL with Professor <a href="http://www.lakeforest.edu/academics/faculty/martin/">William B. Martin</a>
      </div>
      <div class="content">
        <ul>
          <li>Investigated Sonogashira coupling between regioisomers of iodoanilines and propargylamines (<em>N</em>-protected and unprotected) as a possible synthetic pathway for preparation of kynuramine and its regioisomers. Conducted optimization experiments screening key reaction parameters including palladium catalysts, solvents and reaction temperatures. Demonstrated that cross-coupling worked efficiently with the <em>ortho</em>-isomer compared to the <em>meta</em>-isomer, while no coupling
            was observed with the <em>para</em>-isomer.
          </li>
        </ul>
      </div>
    </div>

    <div class="subsection">
      <div class="subsection_title">
        2004-2005; Undergraduate Work<br/>
        <a href="http://www.lakeforest.edu/">Lake Forest College</a>, Lake Forest, IL with <a href="http://www.lakeforest.edu/academics/faculty/debburman/">Professor. Shubhik DebBurman</a>
      </div>
      <div class="content">
        <ul>
          <li>Investigated cell biology of Parkinson's disease in a yeast model. Evaluated trehalose dosage effects, <em>via</em> deletion of cellular trehalose level regulating enzymes (trehalose synthase, trehalase <em>N</em> and trehalase <em>A</em>), on <em>α</em>-synuclein localization, misfolding and toxicity in yeast. Demonstrated that deletion of trehalose synthase or trehalase <em>A</em> did not affect <em>α</em>-synuclein localization, misfolding or toxicity.</li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Teaching Experience -->
  <div class="section">
    <div class="section_title">Teaching Experience</div>
    <div class="subsection">
      <div class="subsection_title">
        Summer 2010-May 2012, <a href="http://www.rochester.edu/">University of Rochester</a>, Rochester, NY
      </div>
      <div class="content">
        <ul>
          <li>Mentor to two undergraduate students; performing a collaborative work on nickel-catalyzed reductive conjugate addition reactions for the expansion of substrate scope. The work is in progress.</li>
        </ul>
      </div>
    </div>
    <div class="subsection">
      <div class="subsection_title">
        Fall 2007- Summer 2008, <a href="http://www.rochester.edu/">University of Rochester</a>, Rochester, NY
      </div>
      <div class="content">
        <ul>
          <li>Graduate student instructor for general chemistry and general organic chemistry lab held twice a week with a group of 20-25 students. Prepared chemicals and set-up lab. Held pre-lab discussion, oversaw lab work and grading. Held office hours twice a week with 3-5 students.</li>
        </ul>
      </div>
    </div>
    <div class="subsection">
      <div class="subsection_title">
        Fall 2004 and Fall 2006, <a href="http://www.lakeforest.edu/">Lake Forest College</a>, Lake Forest, IL
      </div>
      <div class="content">
        <ul>
          <li>Teaching assistant for Advanced Cell and Molecular Biology laboratory section of ~10 students. Prepared chemicals and set-up lab. Held pre-lab discussion and oversaw lab work (2004).</li>
          <li>Teaching assistant for organic chemistry. Held discussion for a group of ~10 students once a week (2006).</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="pagebreak"/>

  <!-- Awards and affiliations -->
  <div class="section">
    <div class="section_title">Awards and Affiliations</div>
    <div class="subsection">
      <div class="content">
        <ul>
	  <li>PhD Thesis, "Transition-Metal-Catalyzed Cross-Coupling of Organic Halides With Enones," selected for commendation for <a href="http://www.rochester.edu/@rochester/outstanding_dissertations_2013.html"> 2013 Outstanding Dissertation Awards in AS&E at the U of R</a></li>
          <li>Selected to attend NSF funded <a href="http://depts.washington.edu/centc/">CENTC</a> (Center for Enabling New Technologies through Catalysis) summer school, July 22-26, 2013 and July 20-27, 2008</li>
          <li>Selected to attend <a href="http://www.organicdivision.org/?nd=grs">Division of Organic Chemistry Graduate Research Symposium</a>, University of California, Santa Barbara, July 14-17, 2011</li>
          <li><a href="http://chem.chem.rochester.edu/~djwgrp/news_item.php?id=49">Elon Huntington Hooker Fellowship</a>, 2011-2012</li>
          <li><a href="http://www.chem.rochester.edu/graduate/financial.php">Samuel Allen and Ellen Frances Lattimore Graduate Fellowship</a>, 2008-2011</li>
          <li><a href="http://www.chem.rochester.edu/graduate/financial.php">Sherman Clarke Fellowship</a>, 2007-2008</li>
          <li>W. D. Walters Teaching Award, Department of Chemistry, University of Rochester, 2008</li>
          <li><a href="https://www.pbk.org/home/index.aspx">Phi Beta Kappa</a>, 2007</li>
          <li><a href="http://www.sigmaxi.org/">Sigma Xi, 2007</a></li>
          <li>Nancy Chang Lee Scholarship, Lake Forest College, 2006</li>
          <li><a href="http://www.lakeforest.edu/">Lake Forest College</a> Grant, Lake Forest, IL, 2003-2007</li>
          <li><a href="http://portal.acs.org/portal/acs/corg/content">American Chemical Society</a>, member of <a href="http://www.organicdivision.org/">Organic</a> and <a href="http://www.acsdic.org/">Inorganic</a> Divisions</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Service -->
  <div class="section">
    <div class="section_title">Service</div>
    <div class="subsection">
      <div class="content">
        <ul>
          <li>University of Rochester Rothchild Lecturer Committee Member, 2009-2011</li>
          <li>Participated in the Rochester Younger Chemists Committee <a href="http://www.rochester.sites.acs.org/adoptaschool.htm">Adopt-a-School</a> Program, 2007-2008</li>
          <li><a href="http://www.lakeforest.edu/studentlife/activities/clubs/saacs/">Student Affiliates of the American Chemical Society</a>, Lake Forest College, 2006-2007</li>
          <li>Member of <a href="http://www.lakeforest.edu/academics/students/journals/eukaryon/">Eukaryon</a>, An Undergraduate Journal of Life Science Scholarship at Lake Forest College, 2005-2006</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Skills and Hobbies -->
  <div class="section">
    <div class="section_title">Other Skills and Hobbies</div>
    <div class="subsection">
      <div class="content">
        <ul>
          <li>Language skills: Fluently speak four languages; English, Nepali, Newari, Hindi and good comprehension of French</li>
          <li>Still art and portrait sketches and painting</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Publications -->
  <div class="section">
    <div class="section_title">Publications</div>
    <div class="subsection">
      <div class="content">
        <ol>
          <li>Shrestha, R.; Mukherjee, P.; Tan, Y.; Litman, Z. C.; Hartwig, J. F. "<a href="http://pubs.acs.org/doi/abs/10.1021/ja4032677">Sterically Controlled, Palladium-Catalyzed Intermolecular Amination of Arenes</a>," <em>J. Am. Chem. Soc.</em> <strong>2013</strong>, <em>Just Accepted</em>. DOI: 10.1021/ja4032677</li>
	  <li>Shrestha, R.; Dorn, S. C. M.; Weix, D. J. "<a href="http://pubs.acs.org/doi/abs/10.1021/ja309176h">Nickel-Catalyzed Reductive Conjugate Addition to Enones Via Allylnickel Intermediates</a>," <em>J. Am. Chem. Soc.</em> <strong>2013</strong>, <em>135</em>, 751-762.</li>
          <li>Shrestha, R.; Weix, D. J. "Pyrrolidine, 3,4-bis(diphenylphosphino)-1-(phenylmethyl)-,(3<em>R</em>,4<em>R</em>) and Pyrrolidine, 3,4-bis(diphenylphosphino)-1-(phenylmethyl)-,(3<em>S</em>,4<em>S</em>)," Encyclopedia of Reagents for Organic Synthesis [Online] <strong>2012</strong></li>
          <li>Shrestha, R.; Naodovic, M.; Weix, D. J. “Triphenylboron” Encyclopedia of Reagents for Organic Synthesis <strong>2012</strong>.</li>
          <li>Shrestha, R.; Brennessel, W. W.; Weix, D. J. "<a href="http://rujashrestha.info/publications/">[2,2'-Bis(diphenylphosphanyl)-1,1'-binaphthyl-[<em>&Kappa;</em>]2<em>P</em>,<em>P</em>']chlorido(4-methylphenylsulfonyl-[<em>&Kappa;</em>]<em>S</em>)palladium(II) dichloromethane trisolvate monohydrate</a>” <em>Acta Cryst.</em> <strong>2011</strong>, <em>E67</em>, m1830.</li>
          <li>Shrestha, R.; Weix, D. J. "<a href="http://pubs.acs.org/doi/abs/10.1021/ol200881v">Reductive Conjugate Addition of Haloalkanes to Enones to Form Silyl Enol Ethers</a>” <em>Org. Lett.</em> <strong>2011</strong>, <em>13</em>, 2766-2769.
            <ul>
              <li>Chosen for Organic Chemistry Highlights on “Carbon-Carbon Bond Formation”, March 2012</li>
            </ul>
          </li>
          <li>Everson, D.A.; Shrestha, R.; Weix, D. J. "<a href="http://pubs.acs.org/doi/abs/10.1021/ja9093956">Nickel-Catalyzed Reductive Cross-Coupling of Alkyl Halides with Aryl Halides</a>” <em>J. Am. Chem. Soc.</em> <strong>2010</strong>, <em>132</em>, 920-921.
            <ul>
              <li>Chosen for Organic Chemistry Highlights on “Substituted Benzenes”, October 2010</li>
              <li>Selected as SYNFACT of the month, April 2010</li>
              <li>Featured in a Chemical and Engineering News “concentrate”, January 18, 2010</li>
              <li>Highlighted as the fourth most read article, Journal of the American Chemical Society, January 2010</li>
            </ul>
          </li>
          <li>Sharma, N.; Brandis, K. A.; Herrera, S. K.; Johnson, B. E.; Vaidya, T.; Shrestha, R.; DebBurman, S. K. “α-Synuclein Budding Yeast Model: Toxicity Enhanced by Impaired Proteasome and Oxidative Stress” <em>J. Molec. Neurosci.</em> <strong>2007</strong>, <em>28</em>, 161-168.</li>
        </ol>
      </div>
    </div>
  </div>

  <!-- Presentations -->
  <div class="section">
    <div class="section_title">Presentations</div>
    <div class="subsection">
      <div class="content">
        <ul>
          <li>“Nickel Catalyzed Reductive Conjugate Addition of Haloarenes to Electrophilic Olefins,” Division of Organic Chemistry Graduate Research Symposium, University of California, Santa Barbara, July 14-17, 2011</li>
          <li>“ Nickel-Catalyzed Reductive Coupling of Organohalides to Electron-Deficient Olefins Forming 1,4-Conjugate Addition Products”, Boston ACS National Meeting, August 22-27, 2010</li>
          <li>“Palladium Catalyzed Ethynylation of Haloacetanilides”, 10th annual Steven Galovich Memorial Student Symposium, April 9-10, 2007</li>
          <li>“Evaluating Trehalose Dosage Effects on <em>α</em>-Synuclein Localization, Misfolding and Toxicity in a Yeast Model”, 8th annual Student Symposium, Lake Forest College, Lake Forest, April 5, 2005</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- References -->
  <div class="section">
    <div class="section_title">References</div>
    <span class="reference">
      Prof. <a href="http://www.chem.rochester.edu/faculty/faculty.php?name=weix">Daniel J. Weix</a><br/>
      Department of Chemistry<br/>
      University of Rochester<br/>
      Rochester, NY 14627
    </span>

    <span class="reference">
      Prof. <a href="http://www.chem.rochester.edu/faculty/faculty.php?name=jones">William D. Jones</a><br/>
      Department of Chemistry<br/>
      University of Rochester<br/>
      Rochester, NY 14627
    </span>

    <span class="reference">
      Prof. <a href="http://www.cchem.berkeley.edu/jfhgrp/members_hartwig.html">John F. Hartwig</a><br/>
      Department of Chemistry<br/>
      University of California<br/>
      Berkeley, CA 94720
    </span>
  </div>
</div>
