<div class="content">
  <h3>Hello,</h3>
  <p>I am Ruja. <em>Welcome</em> to my website!</p>
  <p class="l1">I am a chemist, working in the field of <a href="http://en.wikipedia.org/wiki/Organometallic_chemistry">Organometalic Chemistry</a>. Besides chemistry, I also love <em>drawing</em>, taking pictures, <a href="/tour">travelling</a> and <a href="http://www.bluebottlecoffee.com/">coffee</a>.</p>
  <p class="l2">
    Originally I am from <a href="http://en.wikipedia.org/wiki/Nepal">Nepal</a>, born and raised in the small town of <a href="http://en.wikipedia.org/wiki/Patan,_Nepal">Patan Dhoka</a>, near an ancient beautiful <a href="http://en.wikipedia.org/wiki/Patan_Durbar_Square">palace</a>. I now live in the <a href="https://en.wikipedia.org/wiki/San_Francisco_Bay_Area">San Francisco Bay area</a>.
  </p>
</div>
