<div class="content">
  <div class="vertical_spacer"/>
  <p class="intro">
    My research is in the field of <a href="http://en.wikipedia.org/wiki/Organometallic_chemistry">Organometallic Chemistry</a>. I mostly work on developing optimal, simpler ways for synthesizing useful (or, <em>potentially useful</em>) chemical products -- more specifically, optimizing important <a href="http://en.wikipedia.org/wiki/Chemical_transformation">chemical transformations</a> by use of <a href="http://en.wikipedia.org/wiki/Transition_metal">transitional metal</a> <a href="http://en.wikipedia.org/wiki/Catalysis">catalysis</a>.</p>

  <p>
    Some chemical compounds I have been interested in include <a href="http://en.wikipedia.org/wiki/Aniline">aniline</a>, <a href="http://en.wikipedia.org/wiki/Styrene">styrene</a>, <a href="http://en.wikipedia.org/wiki/Divinylbenzene">divinylbenzene</a> and <a href="http://en.wikipedia.org/wiki/Silyl_enol_ether">silyl enol ether</a>.
  </p>
</div>
